{% extends "scheduler/base.html" %}

{% block content %}

<h2> Hello there, sign up or login to continue </h2>

<div style="border: 1px solid black; padding: 0.5em"> 
    <form method="post">
        {% csrf_token %}
     {{form.as_p}}
     <button class="btn btn-primary" type="submit"> Sign Up </button>
    </form>

<div style="display:flex; justify-content:center; flex-direction:row;"> 
   <small> Already have an account?</small>
   <a style="margin-left:10px; margin-bottom:10px;" href="{% url 'login' %}"> <button class="btn btn-primary" type="submit"> Login</button> </a>
</div>

</div>



{% endblock %}